<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.mapper.TDbconfigMapper">

    <!-- 开启二级缓存 -->
    <cache type="com.magicbeans.framework.mybatis.cache.MybatisRedisCache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hello.entity.TDbconfig">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
        <result column="project_name" property="projectName" />
        <result column="config_json" property="configJson" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id,
    create_time AS createTime,
        project_name AS projectName, config_json AS configJson
    </sql>

</mapper>
