<!-- begin #content -->
<!-- ================== BEGIN BASE CSS STYLE ================== -->
#set($path="#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
[\#include "../include.ftl"]
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title">添加${entity}</h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="${basePath}${path}/save"   method="post">
                        #foreach($field in ${table.fields})
                            <div class="form-control input-group">
                                <label class="input-group-addon edit-label">
                                    #if( ${field.comment})
                                        $!{field.comment}: 
                                    #else
                                        $!{field.propertyName}:
                                    #end    
                                </label>
                                <div class="col-md-6">
                                    <input type="text" name="$!{field.propertyName}" class="form-control" />
                                </div>
                            </div>
                         #end
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-6">
                                <button type="button" onclick="window.history.back()" class="btn  m-r-5 m-b-5">取消</button>
                                <button type="submit" class="btn btn-success m-r-5 m-b-5">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->

    </div>

</div>

